<div class="container">
  <div class="row">

    <div class="col">
      <h1>Persons list</h1>

      <button class="btn btn-primary" [disabled]="disabled" (click)="addPerson()">Add Person</button>

      <p *ngIf="show; else noPerson" >{{message}}</p>

      <ng-template #noPerson> 
        <p>No person was added</p>
      </ng-template>

      <div *ngFor="let person of persons; let i = index">
        {{i + 1}} {{person.name}} {{person.lastName}}
      </div>
    </div>

  </div>
</div>
