<div class="box">
  <form class="item" #f="ngForm" (ngSubmit)="f.form.valid && login(f)">
    <div>
      <input
        type="email"
        placeholder="Email"
        name="email"
        ngModel
        required
        size="20"
      />
    </div>
    <div>
      <input
        type="password"
        placeholder="Password"
        name="password"
        ngModel
        required
        size="15"
      />
    </div>
    <button type="submit" style="cursor: pointer">+</button>
  </form>
</div>
>
